* {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.model {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 12px;
}

.description {
  font-size: 19px;
}

.delivery {
  text-decoration: underline;
}
