* {
  font-family: Arial, serif;
  /* HTML 요소의 너비와 높이를 계산할 때 padding이랑 border를 포함 */
  box-sizing: border-box;
}

p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(120, 82, 178);
  padding: 16px 16px 16px 16px;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 150px;
  color:white;
  font-weight: bold;
}

.middle {
  flex:1;
  max-width: 500px;
}

.search-bar {
  padding: 6px 10px 6px 10px;
  width: 100%;
  border-radius: 14px;
  font-size: 15px;
  border: none;
}
.right {
  width: 100px;
}

.download-link {
  color: white;
  border-radius: 4px;
  border-color: white;
  border-style: solid;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}