.box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 320px;
  height: 180px;
  background-color: #8a8a8a;
}

.close {
  position: absolute;
  left: -10px;
  top: -10px;
  padding: 10px 13px;
  background-color: black;
  color:white;
  font-family: Arial, serif;
  border-radius: 50%;
}