* {
  font-family: Arial, serif;
}

.shirt {
  position:relative;
  display: inline-block;
}

.shirt-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.sale {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button {
  background-color: white;
  padding: 6px 10px;
}