* {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

div {
  background-color: #252525;
  width: 400px;
  padding: 20px 18px 20px 18px;
}

.title {
  margin-bottom: 17px;
  font-size: 29px;
  color: white;
  font-weight: bold;
}

.desc {
  color: #9e9e9e;
}