* {
  font-family: Arial;
  color: rgb(100, 100, 100);
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
}

div {
  margin-top: 10px;
  border-radius: 10px;
  width: 455px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 10px;
}

.profile {
  width: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.text-box {
  padding-right: 130px;
  border: none;
  font-size: 18px;
}

.tweet-button {
  color: white;
  font-weight: bold;
  padding: 10px 14px 10px 14px;
  background-color: rgb(29, 155, 240);
  border: none;
  border-radius: 19px;
}