* {
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;
}

.profile-card {
  width: 200px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 10px 5px 5px 5px;
}

.profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

p {
  padding-left: 5px;
  padding-top: 5px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.friend-count {
  color: #787878;
}

.add-button {
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 8px;
  color:white;
  background-color: #3d7cec;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px
}