* {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

div {
  text-align: center;
  margin-top: 15px;
}

.logo {
  width:300px;
}

.search-bar {
  font-size: 16px;
  padding: 15px 15px 15px 15px;
  border-radius: 30px;
  width: 600px;
  border: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  border: none;
  margin-right: 10px;
}