* {
  font-family: Arial, serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 350px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
}

.title, .content {
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  font-size: 29px;
}

.content {
  font-size: 18px;
}