* {
  font-family: Arial, serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;

  padding-left: 80px;
  padding-right: 80px;
}

.left-section, .right-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 14px;
}

.name {
  font-weight: bold;
  font-size: 19px;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.message-button {
  background-color: rgb(218, 218, 218);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}