p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}

.profile {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profile-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 5px;
}

.mutual-friends-row {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 10px;
  align-items: center;
  margin: 0 0 10px 8px;
}

.mutual-friend-picture {
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 14px;
  vertical-align: middle;
  margin-right: 4px;
}

.mutual-friends {
  vertical-align: middle;
  color: rgb(100, 100, 100);
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}