.search-bar {
  font-size: 16px;
  padding: 15px 15px 15px 15px;
  border-radius: 30px;
  width: 600px;
  border: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: 20px;
}