* {
  font-family: Arial;
  color: rgb(100, 100, 100);
  margin-bottom: 0;
  margin-top: 0;
}

.email {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 15px;
}

.email-input {
  font-size: 16px;
  width: 328px;
  margin-bottom: 14px;
}

.terms {
  font-size: 13px;
  margin-bottom: 10px;
}

.join-button {
  padding: 15px 120px 15px 120px;
  color:white;
  background-color: dodgerblue;
  font-size: 16px;
  border: none;
  border-radius: 25px;
}

.search-bar {
  font-size: 16px;
  padding: 15px 15px 15px 15px;
  border-radius: 30px;
  width: 600px;
  border: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: 20px;
}