* {
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;
}

input {
  background-color: rgb(240, 240, 240);
  display: block;
  margin-bottom: 5px;
  border: none;
  padding: 10px 20px 10px 20px;
  width: 300px;
}

.request {
  font-size: 35px;
  margin-bottom: 20px;
}

.request-button {
  margin-top: 20px;
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
}

.later-button {
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 10px 20px 10px 20px;
}