div {
  font-family: Arial, serif;
}

.container {
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 5px;
  padding: 12px;
}

.inbox-title {
  color: #8a8a8a;
  margin-bottom: 20px;
}

.mail-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 14px;
}

.mail-column {
  flex: 1;
}

.sender-time-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sender {
  font-weight: bold;
  font-size: 17px;
}

.time, .content {
  color: #8a8a8a;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
}

