p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /*text related css will cascade down to child elements*/
  font-family: Roboto, serif;

  margin: 0;
  padding-top: 85px;
  padding-left: 96px;
  padding-right: 24px;
  height: 3000px;
  background-color: #f6f6f6;
}