.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d5d5d5;

  z-index: 100;
}

.left-section {
  display: flex;
  margin-right: 70px;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar {
  flex: 1;
  height: 36px;
  border-width: 1px;
  border-color: #c5c5c5;
  border-style: solid;
  padding-left: 10px;
  font-size: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);

  /*can keep shrinking if needed*/
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, serif;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: #f7f7f7;
  border-width: 1px;
  border-color: #c5c5c5;
  border-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip{
  opacity: 1;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip{
  font-family: Roboto, serif;

  position: absolute;
  bottom: -30px;

  background-color: gray;
  color:white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f8f8f8;
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;

  /*doesn't shrink below set width:200px*/
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-app-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: #c80000;
  color: white;
  font-family: Roboto, serif;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}