.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display: flex;
  margin-right: 70px;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar {
  flex: 1;
  height: 36px;
  border-width: 1px;
  border-color: #c5c5c5;
  border-style: solid;
  padding-left: 10px;
  font-size: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);

  /*can keep shrinking if needed*/
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, serif;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: #f7f7f7;
  border-width: 1px;
  border-color: #c5c5c5;
  border-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top: 5px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f8f8f8;
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}

.right-section {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;

  /*doesn't shrink below set width:200px*/
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-app-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}