p {
  font-family: Roboto;
  margin-top: 0;
}

.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(96, 96, 96);
}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 21px;
  margin-bottom: 100px;
}

.apple-text {
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: rgb(227, 65, 64);
}

.shop-link:hover {
  cursor: pointer;
  text-decoration: underline;
}