.thumbnail {
  width: 100%;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-preview {
  vertical-align: top;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 15px;
}

/* divs by default have a width of 100% */
/*.channel-picture {*/
/*  display: inline-block;*/
/*  width: 40px;*/
/*  vertical-align: top;*/
/*  margin-right: 7px;*/
/*}*/

/* img tags do not automatically inherit the parent tag's size */
/* so you must resize it */
.profile-picture {
  width: 100%;
  border-radius: 50%;
}

/*.video-info {*/
/*  display: inline-block;*/
/*  width: 200px;*/
/*  vertical-align: top;*/
/*}*/

.video-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;
}

.video-uploader, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-uploader {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 4px;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto, serif;
}